body {
  background-color: #ffe17e;
  padding:.50rem;
}

.btn.btn-secondary a,
.btn.dropdown-toggle a {
    text-decoration: none;
    color: white;
    font-weight: bold
}

.btn.btn-secondary a:hover,
.btn.dropdown-toggle a:hover {
    color: black 
}

.dropdown-toggle {
    color: #ffe17e;
    font-weight: bold;
    background-color: #353434;
    margin-top: 15px;
    margin-left: 5px
}

#miFooter {
    background-color: #353434;
    
}


.card {
    color: white;
    background-color: #ffe17e00;
    border: none;
    
}

.card-body {
  padding-right: 0;
  padding-left: .25rem;
  
}

h2 {
    color: white
}

.discografia {
    background-color: rgb(36, 35, 35);
    overflow: hidden;
    margin-bottom: 1.25rem ;
    
}

.audiovisuales {
  background-color: rgb(36, 35, 35);
  overflow: hidden;
  margin-bottom: 1.25rem ;
  
}

.footer {
  background-image: url(../../img/footer.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 50px !important;
  padding-bottom: 550px !important;
}

.creditos{
  background-color: #00000034;
  height: 100px ;
  font-size: 20px;
  font-weight: bold;
  color: black;
  
}

img.animate__animated.animate__fadeIn {
    animation-duration: 5s
}

p.animate__animated.animate__fadeIn {
    animation-duration: 5s;
    animation-delay: 1s
}

header {
    position: relative;
    background-color: #ffe17e;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    visibility: visible
}

header .container {
    position: relative;
    z-index: 2
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1
}

#redes i {
    font-size: 20px;
    padding-left: 25px;
    color: black;
   
}

#redes i:hover {
    font-size: 23px;
    color: white;
}

.bg-dark {
  background-color:#ffe17e !important;
  
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  
}

.navbar-light .navbar-toggler {
  color: black;
  border-color: black;
}

#logo img {
  max-width: 100%;
  height: auto;
  width:300rem
}

body {
  font-family: "Arial";
  color: #fff;
  font-size: 15px;
  margin: 0; }

input, textarea, select, button {
  font-family: "arial";
  color: #fff;
  font-size: 15px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("./img/backgroundDiscos.jpg");
  background-size: cover; }

.inner {
  max-width: 758px;
  margin: auto;
  background: black;
  border: 10px solid black;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

textarea {
  resize: none; }

h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: "arial";
  text-align: center;
  margin-bottom: 12px; }

p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8; }

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px; }
  .form-group span {
    font-size: 15px;
    color: #ffe17e;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text; }
  .form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff; }

.form-control {
  border: none;
  border-bottom: 2px solid #ffe17e;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "arial"; }
  .form-control:focus, .form-control:valid {
    border-bottom: 2px solid #fff; }
    .form-control:focus + span, .form-control:valid + span {
      transform: translateY(-22px) scale(0.8); }
      .form-control:focus + span + .border, .form-control:valid + span + .border {
        transform: scaleX(1); }

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px; }

.table td, .table th{
  padding: 0;
  color: white !important;
  
}

.fechas{
  justify-content: center;
  align-items: center;
  padding-top: 2rem !important;
}

.btn {
  display: block;
}

.btn.btn-secondary{
  background-color: transparent;
}
button {
  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-family:"arial";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffe17e;
    color:white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  button:hover {
    border-color: transparent; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    button:hover i {
      -webkit-transform: translateX(4px);
      transform: translateX(4px); }

@media (max-width: 767px) {
  h3 {
    font-size: 38px; }

  p {
    font-size: 14px;
    padding: 0; }

  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .wrapper {
    background: #000000;
    border: 10px solid #ffe17e; } }

  .shows{
    background-color: rgb(36, 35, 35);
    overflow: hidden;
    margin-bottom: 1.25rem;
    
  }


.texto-negro{
  color: #000000;
}

ul li{
list-style-type: none;

}

ul li p {
  margin-bottom: 0;

}

.historia{
   background-color: rgb(36, 35, 35);
    overflow: hidden;
    margin-bottom: 1.25rem ;
  
  
  
}

.textobio{
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.backgroundHistoria{
  background-image: url(../../img/backgroundHistoria.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;  
}

.bordeIntegrantes{
  border-bottom: solid 1px #ffe17e ;
  
}

table {
  border-collapse: inherit;
}
